@font-face {
    font-family: garet;
    src: url("fonts/Garet-Book.ttf");
}

@font-face {
    font-family: geoform;
    src: url("fonts/Geoform-Medium.otf");
}

:root {
    --dark-blue: rgb(3, 5, 45);
    --cream: rgb(245, 250, 229);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: var(--dark-blue);
    color: var(--dark-blue);
    font-family: garet;
}

h1, h2, h3 {
    font-family: geoform;
}

aside {
    position: fixed;
    top: 0;

    width: 16vw;
    height: 100vh;
    padding: 1%;
    margin: 0;

    color: var(--cream);
    background-color: var(--dark-blue);
}

#aside-content {
    width: 100%;
    height: 66vh;
    
    display: flex;
    flex-direction: column;
}

#aside-content h2 {
    color: var(--cream);
    text-align: center;
    font-size: 1.8em;
}

 #aside-content p {
    color: var(--cream);
    text-align: center;
    font-size: 1em;
 }

#headshot {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 8%;
    border-radius: 50%;
}

aside h2, aside h3 {
    margin: 0;
    text-align: left;
}

#skills {
    padding: 16%;
}

#skills h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 8%;
}

aside ul {
    list-style-type: circle;
}

aside ul ul {
    list-style-type: disc;
}

.contact-info .social-icon {
    height: 32px;
}

.contact-info p {
    text-align: center;
}

span.contact-info {
    width: 100%;
    height: 16%;
    margin-bottom: 8%;
    display: flex;
    justify-content: space-around;
}

#contact-footer {
    width: 100%;
    height: 34vh;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

#projects-div {
    margin-left: 18vw;
    margin-top: 8vh;
    padding: 2vh 4vw;
    background-color: var(--cream);
    border-radius: 15px 0px 0px 0px;
    min-height: 90vh;
}

.project-card {
    width: 75%;
    margin-left: 8%;
    margin-bottom: 4%;
    padding: 1% 4%;

    display: grid;

    border: var(--dark-blue) solid 0.125em;
    border-radius: 15px;
    box-shadow: var(--dark-blue) 4px 4px;
    color: var(--dark-blue);
}

.project-card .description {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.project-card .description h2 {
    font-size: 2em;
    color: var(--dark-blue);
    text-decoration: underline;
}

.project-card .description p {
    padding: 1em;
    margin: 0.5em;
}

.project-card .side {
    grid-column: 3;
    grid-row: 1 / 4;

    padding: 4%;
}

.project-card .side h3 {
    text-align: center;
}


.project-card .footer {
    grid-column: 1 / 3;
    grid-row: 3;

    display: flex;
    justify-content: space-around;
}

